body {
    font-family: sans-serif;
    background: #999999;
}

.pg-container {
    background: #fff;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #fff;
    border-radius: 0.5em;
}

h1 {
    font-weight: 300;
    float: left;
}

p {
    font-weight: 100;
}