body {
    font-family: sans-serif;
    background: #666;
}

.pg-container {
    background: #454545;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -10px;
    box-shadow: 10px 10px 5px #333;
    border-radius: 0.5em;
    height: 600px;
}

header {
    background: linear-gradient(#fff, #454545);
    margin-top: -20px;
    margin-left: -20px;
    float: left;
    width: 270px;
}

section {
    color: #fff;
}

section h1 {
    margin-left: 330px;
    margin-top: 50px;
    font-size: 1.7em;
    background: #666;
    margin-right: 200px;
    border-radius: 0.2em;
    padding: 10px 0px 10px 40px;
}

section p {
    margin-left: 330px;
    margin-top: 80px;
    font-size: 1.1em;
}

h1 {
    font-weight: 300;
}

p {
    font-weight: 100;
}

#logo-img {
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
}

ul {
    margin-left: 30px;
    margin-top: 180px;
}

li {
    margin-right: 30px;
    margin-top: 50px;
    list-style-type: square;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #bc5357;
}

footer {
    text-align: center;
    color: #fff;
}







